$('#home-timeline').switchClass('categories-menu', 'questions-menu box-sizing');
$('#home-timeline').html(
  '<%= j(render partial: 'questions/question', collection: @questions) %>'
);
$('.top-bar h2').text(
  'Yeaterday<span>November 15th</span>'
)
