$accentGreenColor: rgb(109,194,184);
$hoverGreenColor: rgb(83,174,164);
$mainSkyBlueColor: #3f51b5;
$hoverSkyBlueColor: rgb(25, 120, 235);

body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 16px;
  color: #444;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.btn-notprimary {
  background-color: transparent;
  color: $mainSkyBlueColor;
  border: 1px solid $mainSkyBlueColor;
  &:hover {
    color: white;
    background-color: $mainSkyBlueColor;
  }
}

.btn-primary {
  color: white;
  background-color: $mainSkyBlueColor;
  border: 1px solid $mainSkyBlueColor;
  &:hover {
    color: white;
    background-color: $hoverSkyBlueColor;
    border: 1px solid $hoverSkyBlueColor;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.hidden-block {
  position: fixed;
  width: 100%;
  height: 100%;
}

.fix-height {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
}

.fix-width {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.fix-form {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.alert {
  margin: 0;
}

.text-align-center {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

.list-btn {
  margin-right: 5px;
}

.panel-info {
  border-color: $mainSkyBlueColor;
  & > .panel-heading {
    border-color: $mainSkyBlueColor;
    background-color: $mainSkyBlueColor;
    color: white;
  }
}

.mdl-layout__content {
  background-color: #eee;
}

.block { display: block; }
