$question-list-title: 18px;
$question-list-description: 14px;
$question-list-height: 130px;

nav ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.group-users {
  .mdl-card {
    float: left;
    min-width: 200px;
  }
}

#tutorial .mdl-card {
  .mdl-card__title {
    background-color: #ff4081;
    color: white;
  }
  .mdl-card__supporting-text {
    font-size: 20px;
    line-height: 25px;
  }
}
