.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.jumbotron {
  background-image: image-url("header_bg.png");
  background-position:  center 92px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  100% auto;
  padding: 80px 0;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.container {
  background-color: #F0FFFF;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

.feed {
  background-color: #F0FFFF;
  margin: 30px auto auto auto;
  height: 500px;
  max-width: 800px;
  padding-right: 0;

  .question {
    margin-right: 0;
    height: 100px;
    background-color: #FFFACD;
    padding: 10px 30px;
    .image-box {
      float: left;
      img {
      height: 100px;
      }
    }

    .content {
      float: left;
      background-color: #FFC0CB;
      height: 100%;
      width: 60%;
      .title {
        padding-left: 10px;
      }

      .sentence {
        padding-left: 10px;
      }
    }

    .user-avatar {
      margin-top: 17px;
      margin-bottom: auto;
      margin: auto, 0;
      float: right;
      img {
        margin: auto, 0;
        height: 50px;
      }
    }
  }
}