$questionListTitle: 18px;
$questionListDescription: 14px;
$questionListHeight: 110px;
$accentGreenColor: rgb(109,194,184);
$formBackgroundColor: #eee;
$formTitleHeight: 48px;
$formTagHeight: 44px;
$formDescriptionHeight: 89px;
$formFooterHeight: 50px;
$formExceptTextareaHeight: ($formTitleHeight+$formTagHeight+$formDescriptionHeight+$formFooterHeight);
$actionAndReactionButtonHeight: 50px;


.post-page {
  .post-form {
    height: calc(100vh - 96px);
    .mdl-textfield {
      display: block;
      width: 100%;
      .input-post-text-area {
        height: calc(100vh - 380px);
      }
      .input-answer-text-area {
        height: calc(100vh - 172px);
      }
    }
  }
  .output-field {
    background-color: white;
    #output-area {
      height: calc(100vh - 96px);
      overflow: auto;
      padding: 8px;
    }
  }
}

.questions-group {
  .mdl-tabs__tab-bar {
    margin-bottom: 30px;
  }
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  .card-wide {
    width: 100%;
    margin-bottom: 30px;
    .mdl-card__actions .delete-btn {
      float: right;
      color: #ff4081;
    }
  }
}

.article-group {
 .action_menu {
    position: fixed;
    bottom: 50px;
    right: 80px;
    z-index: 3;
    ul li a{
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }
  .main-article, .sub-article {
    padding: 16px;
  }
  .main-article .mdl-card, .sub-article .mdl-card {
    width: 100%;
  }
  .main-article {
    margin: 0 auto;
    width: 70%;
    .mdl-card__title {
      padding-top: 100px;
      color: white;
      background-color: $mainSkyBlueColor;
    }
    .mdl-card__menu {
      color: white;
    }
    .mdl-card__supporting-text {
      border-bottom: 1px solid rgba(0,0,0,.54);
    }
  }
  .act-to-answer {
    width: 30%;
    height: $actionAndReactionButtonHeight;
    margin: 30px auto;
    a, span {
      height: $actionAndReactionButtonHeight;
      line-height: $actionAndReactionButtonHeight;
      text-align: center;
      font-size: 20px;
      display: block;
      background-color: $mainSkyBlueColor;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: #2289e6;
        box-shadow: 0 0 1px 1px #dddddd;
      }
    }
  }
  .answer-reactions {
    width: 50%;
    margin: 30px auto;
    .reaction-btn {
      width: 50%;
      float: left;
      height: $actionAndReactionButtonHeight;
      form {
        button {
          border-style: none;
          width: 100%;
          height: $actionAndReactionButtonHeight;
          line-height: $actionAndReactionButtonHeight;
          text-align: center;
          font-size: 20px;
          display: block;
          background-color: $mainSkyBlueColor;
          color: white;
          text-decoration: none;
          i { margin-top: 2px; }
          &:hover { background-color: $hoverSkyBlueColor; }
        }
        .not-complete {
          background-color: $accentGreenColor;
          &:hover { background-color: $hoverGreenColor }
        }
      }
    }
  }
  .main-article, .article-content {
    padding: 16px;
  }
  .sub-article .mdl-card {
    margin-bottom: 16px;
  }
}

.sider {
  padding-top: 64px;
  position: fixed;
  top: 0;
  right: 20px;
  width: 15vw;
  z-index: 2;
  .mdl-card {
    width: 100%;
    .mdl-card__title {
      border-bottom: 1px solid #ddd;
    }
    .mdl-card__supporting-text {
      height: 200px;
      overflow: auto;
      #user-icon {
        width: 30px;
        height: 30px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
