$questionListTitle: 18px;
$questionListDescription: 14px;
$questionListHeight: 110px;
$accentGreenColor: rgb(109,194,184);
$formBackgroundColor: #eee;
$formTitleHeight: 48px;
$formTagHeight: 44px;
$formDescriptionHeight: 89px;
$formFooterHeight: 50px;
$formExceptTextareaHeight: ($formTitleHeight+$formTagHeight+$formDescriptionHeight+$formFooterHeight);

.content {
  height: 100%;

  .categories {
    padding: 30px 10px;

    .questions-menu {
      margin: 0;
      padding: 0;
      list-style: none;

      .questions-list {
        padding: 10px;
        height: 150px;

        &:hover {
          cursor: pointer;
          background-color: #eee;
        }

        .stock-count {
          height: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: -o-box;
          display: -ms-box;
          display: box;
          -webkit-box-align: center;
          -moz-box-align: center;
          -o-box-align: center;
          -ms-box-align: center;
          box-align: center;

          span {
            display: block;
            &:hover {
              font-size: 18px;
              color: $accentGreenColor;
              transition: all .1s;
            }
          }
        }

        .question-image {
          height: 100%;
          float: left;
          position: relative;

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto 0;
            width: 100%;
          }
        }

        .question-context {
          height: 100%;
          padding-top: 5px;
          padding-bottom: 5px;

          .question-title {
            height: 33%;
            overflow: hidden;
            font-size: $questionListTitle;
            a {
              color: #444;
              height: 100%;
              display: block;
              text-decoration: none;
              &:hover {
                color: $accentGreenColor;
              }
            }
          }

          .question-description {
            height: 33%;
            overflow: hidden;
            font-size: $questionListDescription;

            a {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              color: #444;
              height: 100%;
              display: block;
              text-decoration: none;
              &:hover {
                color: $accentGreenColor;
              }
            }
          }

          .question-tags {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 33%;
            overflow: hidden;

            .question-tags-list {
              float: left;
              margin: 5px 5px 5px 0;

              a {
                font-size: 8px;
                font-weight: bold;
                border-radius: 6px;
                border: 1px solid #999;
                padding: 3px;
                display: block;
                text-decoration: none;
                color: #999;
                &:hover {
                  border-color: $accentGreenColor;
                  color: $accentGreenColor;
                }
              }
            }
          }
        }

        .question-info {
          height: 100%;

          .info-box {
            height: 100%;
            text-align: right;
            span {
              line-height: 130px;
            }
            img {
              max-width: 80%;
              max-height: 80%;
            }
          }
        }
      }
    }
  }

  .form-content {
    background-color: $formBackgroundColor;
    padding: 10px 5px 0;
    height: 100%;

    .form-box {
      margin: 0;
      padding: 0;

      .field {
        margin-bottom: 10px;

        .title, .description {
          padding: 5px;
          font-size: 25px;
          resize: none;
        }
      }

      .title-field {
        height: $formTitleHeight;
      }

      #question-tags {
        background-color: white;
        margin: 0 0 10px 0;
        padding: 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: $formTagHeight;
      }

      .description-field {
        height: $formDescriptionHeight;
      }


      .input-text-field {
        height: calc(100% - #{$formExceptTextareaHeight});

        .input-textarea, .output-field {
          float: left;
          width: 50%;
          padding: 5px;
          height: 100%;
        }

        .input-textarea { resize: none; }

        .output-field {
          // height: 100%;
          background-color: white;
          border: 1px solid #ddd;
          border-left: none;

          #output-area {
            height: 100%;
          }
        }
      }

      .input-answer { height: 100%; }

      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $formBackgroundColor;
        height: $formFooterHeight;

        .time-limit-field, .base-time-limit {
          height: 35px;
          padding: 10px 0;
        }

        .base-time-limit {
          text-align: right;
          span { line-height: 34px; }
        }
        .time-limit {
          span {
            border: none;
          }
        }

        .submit-btn { margin: 10px 0; }
      }
    }
  }

  .main-content, .sub-content {
    background-color: white;
    border: 1px solid #ddd;
  }

  .main-content {
    padding: 25px 20px;
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .description {
      font-weight: bold;
      color: #888;
      margin-bottom: 20px;
    }
    .user-info {
      margin: 30px 0 20px;
      .username {
        color: #888;
        float: left;
      }
      .content-date {
        float: right;
        color: #339af7;
        i {
          margin-right: 5px;
        }
      }
    }
    .comments {
      border-top: 1px solid #ddd;
      margin-top: 30px;
    }
  }

  .sub-content {
    border-radius: 5px;
  }
}
