$questionListTitle: 18px;
$questionListDescription: 14px;
$questionListHeight: 130px;
$accentGreenColor: rgb(109,194,184);
$formBackgroundColor: #eee;
$formTitleHeight: 48px;
$formTagHeight: 44px;
$formDescriptionHeight: 89px;
$formFooterHeight: 50px;
$formExceptTextareaHeight: ($formTitleHeight+$formTagHeight+$formDescriptionHeight+$formFooterHeight);

.content {
  height: 100%;

  .categories {
    margin: 0 auto;
    padding: 30px 10px;
    width: 950px;

    .questions-menu {
      margin: 0;
      padding: 0;
      list-style: none;

      .questions-list {
        padding: 10px;
        height: 150px;

        &:hover {
          cursor: pointer;
          background-color: #eee;
        }

        .stock-count {
          width: 50px;
          height: $questionListHeight;
          float: left;
          display: -webkit-box;
          display: -moz-box;
          display: -o-box;
          display: -ms-box;
          display: box;
          -webkit-box-align: center;
          -moz-box-align: center;
          -o-box-align: center;
          -ms-box-align: center;
          box-align: center;

          span {
            display: block;
            &:hover {
              font-size: 18px;
              color: $accentGreenColor;
              transition: all .1s;
            }
          }
        }

        .question-image {
          width: 100px;
          height: $questionListHeight;
          float: left;
          position: relative;

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto 0;
            width: 100%;
          }
        }

        .question-context {
          width: 580px;
          height: 100%;
          float: left;
          padding: 5px;

          .question-title {
            height: 50px;
            overflow: hidden;
            line-height: 50px;
            font-size: $questionListTitle;
          }

          .question-description {
            height: 40px;
            overflow: hidden;
            font-size: $questionListDescription;

            span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .question-tags {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 40px;
            overflow: hidden;

            .question-tags-list {
              float: left;
              margin: 5px 5px 5px 0;

              a {
                font-size: 8px;
                font-weight: bold;
                border-radius: 6px;
                border: 1px solid #999;
                padding: 3px;
                display: block;
                text-decoration: none;
                color: #999;
                &:hover {
                  border-color: $accentGreenColor;
                  color: $accentGreenColor;
                }
              }
            }
          }
        }

        .question-info {
          width: 200px;
          float: left;
          height: $questionListHeight;
          position: relative;

          p {
            height: 40px;
            text-align: right;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto 0;

            span, img {
              margin: 0 5px;
            }

            img {
              width: 40px;
              vertical-align: bottom;
            }

            span {
              vertical-align: 8px;
            }
          }
        }
      }
    }
  }

  .form-content {
    background-color: $formBackgroundColor;
    padding: 10px 5px 0;
    height: 100%;

    .form-box {
      margin: 0;
      padding: 0;

      .field {
        margin-bottom: 10px;

        .title, .description {
          padding: 5px;
          font-size: 30px;
          resize: none;
        }
      }

      .title-field {
        height: $formTitleHeight;
      }

      #question-tags {
        background-color: white;
        margin: 0 0 10px 0;
        padding: 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: $formTagHeight;
      }

      .description-field {
        height: $formDescriptionHeight;
      }

      .input-text-field {
        height: calc(100% - #{$formExceptTextareaHeight});

        .input-textarea, .output-field {
          float: left;
          width: 50%;
          padding: 5px;
        }

        .input-textarea {
          resize: none;
        }

        .output-field {
          height: 100%;
          background-color: white;
          border: 1px solid #ddd;
          border-left: none;

          #output-area {
            height: 100%;
          }
        }
      }

      .footer {
        background-color: $formBackgroundColor;
        height: $formFooterHeight;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          height: 100%;

          li {
            display: inline-block;
            float: right;
            height: 100%;
          }

          .time-limit {
            width: 60px;
          }
        }
      }
    }
  }
}
