$contentWidth: 950px;
$categoryPanelWidth: 180px;
$categoryPanelHeight: 160px;
$categoryPanelColor: white;
$hoverCategoryPanelColor: black;

.categories-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .categories-list {
    margin-bottom: 10px;
    padding: 0 10px 0 0;
    height: $categoryPanelHeight;

    .categories-name {
      border: 1px solid $mainSkyBlueColor;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
      color: $mainSkyBlueColor;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      &:hover {
        background-color: $hoverCategoryPanelColor;
        transition: all .5s;
        color: white;
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
}
