$questionListHoverColor: #eee;
$normalBorderColor: #ddd;
$tagColor: #999;
$questionTitleHoverColor: #6dc2b8;
$questionTitleLinkColor: #444;

.user-page {
  .user-page-header {
    .user-page-profile {
      margin: 15px 0;
      .user-page-user-icon, .user-page-body, .user-action-btn {
        height: 110px;
      }
      .user-page-user-icon {
        min-width: 150px;
        img { max-height: 110px; }
      }
      .user-page-body {
        .user-page-heading, .user-page-contribution {
          float: left;
        }
        .user-page-heading {
          margin: 80px 30px 0 0;
          font-size: 30px;
          line-height: 30px;
          font-weight: bold;
        }
        .user-page-contribution {
          margin-top: 70px;
          font-size: 40px;
          line-height: 40px;
        }
      }
      .user-action-btn {
        padding-top: 80px;
      }
    }
  }
  .user-page-main {
    .user-posts.col-sm-7 {
      .user-local-nav {
        .nav.nav-tabs {
          li {
          }
          .recent-posts-tab {
            border: solid 1px $normalBorderColor;
            padding: 5px;
          }
          .stocked-posts-tab {
          }
        }
      }
      .questions-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        .questions-list {
          padding: 10px;
          height: $questionListHeight;
          position: relative;
          &:hover {
            cursor: pointer;
            background-color: #eee;
          }
          .content-meta {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            .stock-count, .view-count, .answer-count {
              height: 33%;
              span {
                margin-left: 5px;
                font-size: 12px;
              }
              &:hover {
                font-size: 18px;
                color: $accentGreenColor;
                transition: all .1s;
              }
            }
          }
          .question-context {
            height: 100%;
            .question-title, .question-description {
              height: 33%;
              overflow: hidden;
              a {
                color: #444;
                height: 100%;
                display: block;
                text-decoration: none;
                &:hover {
                  color: $accentGreenColor;
                }
              }
            }
            .question-title { font-size: $questionListTitle; }
            .question-description { font-size: $questionListDescription; }
            .question-tags {
              margin: 0;
              padding: 0;
              list-style: none;
              height: 33%;
              overflow: hidden;
              float:left;
              .question-tags-list {
                float: left;
                margin: 0 5px 0 0;
                a {
                  font-size: 8px;
                  font-weight: bold;
                  border-radius: 6px;
                  border: 1px solid #999;
                  padding: 3px;
                  display: block;
                  text-decoration: none;
                  color: #999;
                  &:hover {
                    border-color: $accentGreenColor;
                    color: $accentGreenColor;
                  }
                }
              }
            }
            .content-meta {
              float: right;
            }
          }
          .item-actions {
            position: absolute;
            right: 10px;
            top: 10px;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              font-size: 18px;
              float: right;
              margin-right: 5px;
              a {
                text-decoration: none;
                &:hover {
                  font-size: 18px;
                  color: $accentGreenColor;
                  transition: all .1s;
                }
              }
            }
          }
        }
      }
    }
    .user-popular-posts.col-sm-5 {
      .user-list-group {
        .list-group-item.user-popular-posts {
          .row {
            .user-popular-posts-stock.clearfix {
              i.fa.fa-folder-o {
                font-size: 14px;
                float: left;
              }
              .user-popular-posts-stock-count {
                font-size: 14px;
                float: left;
              }
              .user-popular-posts-stock-unit {
                font-size: 11px;
              }
            }
            .user-popular-posts-main {
              .question-title {
                &:hover {
                  color: $questionTitleHoverColor;
                }
              }
              ul.list-inline.user-popular-posts_tags.tag-list {
                li.tag-list-item {
                  a {
                    font-size: 8px;
                    font-weight: bold;
                    border-radius: 6px;
                    border: 1px solid $tagColor;
                    padding: 3px;
                    display: block;
                    text-decoration: none;
                    color: $tagColor;
                    &:hover {
                      border-color: $accentGreenColor;
                      color: $accentGreenColor;
                    }
                  }
                }
              }
              ul.list-inline.user-popular-posts-notes {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
